Repository wadexu007/learning_by_doing: changes, and which Atlantis projects are due for each by the changed paths.
All: project-demo, project-module-demo

project-demo:
  dir: Terraform/quick_demo
  terraform_version: 1.2.9

project-module-demo:
  dir: Terraform/module_demo/project_1
  terraform_version: 1.2.9
  workflow: test

test Atlantis custom workflow
  Atlantis/base/configmap.yaml
  Atlantis/sre-mgmt-dev/statefulset-patch.yaml
  Terraform/module_demo/project_1/locals.tf
  Terraform/quick_demo/locals.tf
  atlantis.yaml
Due: project-demo, project-module-demo

update atlantis.yaml
  atlantis.yaml
Due: none

update atlantis
  Atlantis/base/configmap.yaml
  Atlantis/sre-mgmt-dev/statefulset-patch.yaml
Due: none

test workflow
  Terraform/module_demo/project_1/locals.tf
  Terraform/quick_demo/locals.tf
Due: project-demo, project-module-demo

test
  atlantis.yaml
Due: none

update
  atlantis.yaml
Due: none

update Atlantis custom wf
  Atlantis/base/configmap.yaml
  Atlantis/sre-mgmt-dev/statefulset-patch.yaml
  Terraform/module_demo/project_1/locals.tf
  Terraform/quick_demo/locals.tf
Due: project-demo, project-module-demo

readme
  README.md
Due: none

update atlantis configmap
  Atlantis/base/configmap.yaml
Due: none

test pr
  Terraform/quick_demo/backend.tf
Due: project-demo

test pr
  Terraform/quick_demo/locals.tf
Due: project-demo

Atlantis github app config
  Atlantis/README.md
  Atlantis/base/statefulset.yaml
  Atlantis/sre-mgmt-stage/kustomization.yaml
  Atlantis/sre-mgmt-stage/sa.yaml
  Atlantis/sre-mgmt-stage/statefulset-patch.yaml
  Terraform/module_demo/project_1/backend.tf
  Terraform/quick_demo/locals.tf
Due: project-demo, project-module-demo

test fromat error
  Terraform/quick_demo/locals.tf
Due: project-demo

correct format
  Terraform/quick_demo/locals.tf
Due: project-demo

override workflow
  atlantis.yaml
Due: none

revert override workflow
  Atlantis/base/configmap.yaml
  atlantis.yaml
Due: none

Path conditions:
  project-demo: any of: Terraform/quick_demo/**/*.tf
  project-module-demo: any of: Terraform/module_demo/project_1/**/*.tf
